<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Cieczowy tłumik drgań stalowych kominów przemysłowych</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <img src="img/about/tlumik-opis.png" class="img-responsive img-centered" alt="Schemat tłumika"/>
              </div>
            <div class="row">
                <div class="col-lg-12">
                  <br/>
                  <p>Cieczowy tłumik drgań jest to zbiornik z wewnętrznymi przegrodami, częściowo wypełniony cieczą, mocowany do komina. Drganiom komina towarzyszy falowanie cieczy, kóre zmniejsza ich amplitudę i rozprasza energię.</p>

                  <h4>Obniżenie kosztów inwestycji</h4>
                  <p>Ograniczenie drgań wywołanych oddziaływaniem wiatru ma
                  kluczowe znaczenie przy wymiarowaniu konstrukcji nośnej komina.
                  Drgania te można tłumić, aby zmniejszyć ilość wymaganej stali
                  konstrukcyjnej i zarazem koszty inwestycji.</p>

                  <p>Unikalną zaletą cieczowych tłumików drgań jest możliwość
                  ukształtowania zbiornika tak, aby pełnił też funkcję galerii.
                  Całkowity brak ruchomych części sprawia, że kosztowne
                  serwisowanie jests niepotrzebne. W rezultacie koszty wykonania
                  i eksploatacji są niskie.</p>
                </div>
            </div>
        </div>
    </section>
