    <section id="gallery" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Galeria</h2>
                </div>
            </div>
            <div class="row">
              <div class="text-center">
                <div class="pa-carousel-widget" style="width:100%; height:660px; display:none;"
                        data-link="https://photos.app.goo.gl/jFDZjtw2e6TvqJjz6"
                        data-title="Delta Camino"
                        data-description="11 photos"
                        data-background-color="#ffffff">
                    <object data="https://lh3.googleusercontent.com/75THN87BQiqXsB_oo2oKNDOoEeMCCzXgYWoi49tn-MToiZHC2pdGOobisy5lEZKZCIaxre7PoUNLkYkR8B4fxQgbubpvZynJ9KtDswfYNfNkKxVJ4-DwPsxp9YuWGtIaTIQydgfCcA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/oo4Yaaiae0198AP3OF7uXLMX60qmM-emAbR8Xn_SPIEa1t-QF9J-_FE-zUSHjSid54lS7hVZ3YzYC2fA8r1C7DFXAUsO4mHSF5BaKmO_wxpApxLXcP2puqLeDF3s0xmASNlOycAftw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/-PyPPnBGnwQJ6X4ykrwUXo1Jlsh5KVyMV-_CKOBBvGG6849l7yVd47i7qyLNvn4tplot7XBo148o36z-qk75WCCKArx8i0OxGvZca6MdxZzGLJie109oUac_uQHsEjS-MBIBR65Avw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/0vnXXxlMjkDN7GI1HCrN030WWq0cShIelBy5XtDxka_0cYXAd34LuVCEYRsIPSHhqGWEW9KMcCBpr157eoYp6aNjl4QKkoen5VZCwYowELJsukDGrXWQDIW5dV3rlOhZW295XN7RLQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/7XiQy4SzF_GDZGhxSxOP9eRy4BcxoDu8bWpkBCNgKcCJG31b1JcL72cCoiX8gch0sPEVAPgiOP3HnAlTorjAlFn_wlcz-1Wxsn0dHVR_bM4a_9FlAJPDJL-UQqk6TFjkt9IKLU8V3A=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/nQuwUuM1MiRRWdDWYre1n3dLpU31uh6QLcH2JyKn2JjkAJnsAxWFjAbEIWoEvqTR_C1x0Yclo-AY-abkcdCchxXoYJFedW0ornkMSIi3qPoZQ77N9ilLK_iuGopLTlxSOFB6CA33zQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/VnaeWiQ1yvWoeKHQTOYX_vvR7RhV77bzOVdjzbd5t8EIHu1S_oKC36W6mhH8l5A9pY2l3kJAWVWvipDJ9emYnCICbVEqgWaoAQwmtBEwVE3FRyEL9SqlY_rfM9ZsNg3GOFWkIofpkw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/EZAzV20e58bH2fwvOvcnLTPpbxu8Md6kDbAE7Mv6T8cQJkOeMNWQDE21seBenfwt0YyEIVSa4cv1BsGfM7Uphhsvrt4P6CqatoC39FdmDxhMHqpyURUdrV31v8TH3c48AZa4E0uq8Q=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/r7DpCAAn_nHZH3DvUlew14_uw9hCGXeigEf1YV86DSQ4Zhay5EVngAEZIsMnQhzFLKQdstDnV-AWy-mfowK_hU8CYXW8RT7Ro5SOY3cSu7TgnatPZxPs9qSH_lrQPxDA8QpoxYDdrg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/P2E_Ph9ercDfy0fn483xxCUd6c6YxUmuRMy744UkBbWeEWyZOV2r-SES3_NHlwkzZ2UIep-GXm5pfIridjJ66rjLez9Eps715-orJVz3mCnrRFvb6ReuUCMJ37oKRcO-A1nrKs3uCg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/pGjmnKLKpc7AMCPQuzQtOD7BpxhXxG93l5771AdTmZr6H2GtTABtuMlv1LwqjfgDXvlK4m9qggEzXs9nwLVn-pBr9ZAlH7qQ9rnFp2402dZtglWw8GKRi__lC7ay9zNgpHvdM5rRmw=w1920-h1080"></object>                </div>
                </div>
            </div>
        </div>
    </section>
