<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Usługi</h2>
                    <!--
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Projektowanie i wykonywanie cieczowych tłumików drgań</h4>
                    <p class="text-muted">Posiadamy wiedzę i doświadczenie, co pozwala nam z powodzeniem stosować cieczowe tłumiki drgań stalowych kominów przemysłowych.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Weryfikowanie tłumienia konstrukcji</h4>
                    <p class="text-muted">Dysponujemy aparaturą pomiarową i oprogramowaniem, umożliwiające weryfikację tłumienia konstrukcji.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Doradztwo techniczne</h4>
                    <p class="text-muted">Projektantom i inwestorom zapewniamy kompleksowe doradztwo techniczne.</p>
                </div>
            </div>
        </div>
    </section>
