<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakt</h2>
                    <h5 class="section-subheading text-muted">
                      DeltaCamino Sp. z o.o.<br/>
                      ul. Mierzeja Wiślana 6<br/>
                      30-732 Kraków<br/>
                    </h5>
                    <p class="text-muted">
                      <i class="fa fa-phone">&nbsp;</i>
                      733 049 350<br/>
                      <a href="mailto:biuro@deltacamino.pl">biuro@deltacamino.pl</a><br/>
                      NIP: 6793121137, REGON: 36349274300000, KRS: 0000596401,<br/>
                      Sąd Rejonowy dla Krakowa-Śródmieścia w Krakowie, W. XI Gosp. KRS,<br/>
                      Kapitał zakładowy: 5000PLN
                    </p>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name == empty }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <p class="text-muted">{{ member.resp }}</p>
                        <p class="text-muted">
                          <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                        </p>
                        {% if member.phone %}
                        <p class="text-muted">
                          <i class="fa fa-phone">&nbsp;</i>
                          {{ member.phone }}
                        </p>
                        {% endif %}
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
